body{
    background-color: rgb(253, 253, 248);
    font-family: "Georgia", serif;
}

#container{
    width: 910px;
    margin: auto;
}

.col{
    margin-left: 15px;
    margin-right: 15px;
}

.col-6{
    margin-bottom: 30px;
    padding-bottom: 5px;
    background: rgb(220, 220, 220);
    width: 425px;
    float: left;
}

#mainPageNavigation{
    margin-bottom: 30px;
    float: left;
    height: auto;
}

#mainPageNavigation a{
    display: block;
    text-align: center;
    padding: 20px 0px;
    border-right: 1px solid rgb(190, 190, 190);
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li{
    position: relative;
    float: left;
    width: 120px;
}

a{
    font-family: "Georgia", serif;
}

/*start main content*/

#mainPageHeader{
    width: 100%;
    height: 7em;
    background-color: rgb(253, 253, 248);
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}

.headerImg{
    width: 7em;
    display: block;
    margin-right: auto;
}

#mainContent{
    margin-top: 30px;
    margin-bottom: 30px;
}

#mainPageFooterWrap{
    height: 15em;
    background-color: rgb(253, 253, 248);
    clear: both;
}

.footerImg{
    width: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Index - page */





/*Login page*/
.loginWindow{
    float: left;
    width: 50%;
}

#loginFeide{
    height: 500px;
    position: relative;
    background-color: rgb(185, 185, 185);

}

#login{
    height: 500px;
    background-color: rgb(199, 199, 199);
    position: relative;
    
}

.textField{
    position: relative;
    float: right;
    top: 5px;
}

.objectsInDiv{
    position: absolute;
    top: 20%;
    left: 35%;
}

.buttonDesign{
    width: 220px;
    background-color: rgb(152, 152, 152);
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.buttonDesign:hover{
    cursor: pointer;
    background-color: rgb(120, 120, 120);
    transition: all 2s;
}
/*end login page*/

/*register page*/
#registration{
width: 270px;
text-align: right;
}
li{
font-family: 'Open Sans Condensed', sans-serif;
}

#registrationPage{
    position: absolute;
    background-color: rgb(199, 199, 199);
    width: 50%;
    left: 25%;
}

.registerField{
    position: relative;
    float: right;
    top: 5px;
}

#registrationBTN{
    width: 130px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    background-color: rgb(152, 152, 152);
}

#registrationBTN:hover{
    cursor: pointer;
    background-color: rgb(120, 120, 120);
    transition: all 2s;
}



/*end register page*/

h1{
    font-size: 35px;
    font-family: 'Georgia', serif;
    margin-left: 5px;
}

form{
    font-size: 20px;
    font-family: 'Georgia', serif;   
}

p{
    font-size: 30px;
    font-family: 'Georgia', serif;
}