body {
    background-color: rgb(253, 253, 248);
    font-family: "nimbus-sans", sans-serif;
    margin: 0;
}


/**** START 978 GS ****/

#container {
    width: 1008px;
    margin: auto;
}

.col-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
}

.col-ProfileStudent {
    width: 295px;
    float: left;
}

.col-projectOne {
    width: 560px;
    float: left;
}

.col-projectTwo {
    width: 295px;
    float: right;
}

.col-12 {
    width: 978px;
}

.col-3 {
    width: 222px;
    margin-bottom: 30px;
    float: left;
}

.col-6 {
    width: 459px;
    float: left;
}


/**** END 978 GS ****/


/**** START HEADER ****/
#title{
    /*float: left;
    height: auto;
    width: 100px;*/
    font-size: 20px;
    text-decoration: line-through;
    color: rgb(253, 253, 248);
    text-shadow: 1px 1px;
}

#bigLogo{
    width: 20%;
    display: block;
    margin: auto;
    
}

#blackWLogo{
    height: 70px;
}

.imgLogo{
    float: right;
    margin-left: 10px;
}

#mainPageHeader {
    height: 12em;
    margin-bottom: 150px;
    margin-top: 10px;
    z-index: 99;
    width: 100%;
}

#seProsjekter {
    
    text-decoration: rgb(253, 253, 248);
    
}


/** start navigation HEADER **/

#headerMenu ul{
    background-color: rgb(190, 190, 190);
    width: 100%;
}

.titleHead h2{
    height: 0;
}

.sort-container #title li{
    height: 10px;
    line-height: 0px;
}

#menuInvisible{
    opacity: 0;
    pointer-events: none;
}

.nav ul {
    font-style: normal;
    font-weight: 500;
    list-style: none;
    background-color: rgb(253, 253, 248);
    text-align: center;
    float: left;
}

.nav li {
    font-size: 1.3em;
    line-height: 20px;
    height: 35px;
   /* margin-top: 1em;*/
    display: inline-block;
    width: 190px;
   /* margin-left: -2px;
    margin-right: -2px;*/
}

.li-border {
    /*border-right: 1px solid rgb(10, 10, 10);*/
}

.nav a{
    text-decoration: none;
    color: rgb(253, 253, 248);
    display: block;
}

.navHoverEffect:hover {
    border-bottom: 1px solid rgb(253, 253, 248);
    cursor: pointer;
}

#title:hover{
    text-decoration: rgb(80, 80, 80);
}


#mobileNav{
    display: none;
}

/** end navigation HEADER **/


/**** END HEADER ****/


/**** START MAIN CONTENT INDEX ****/

#mainContent {
    display: block;
    float: left;

}


/** start sorting content INDEX **/

.sort-container {
    background-color: rgb(253, 253, 248);
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 0px;
    z-index: 999;
    width: auto;
}

.sortMenu {
    position: relative;
    right: 25%;
    z-index: 9999;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#searchField{
    position: relative;
    float: right;
    top: 10px;
    right: 10px;
}

.sort-container ul {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.sort-container li {
    text-align: left;
    width: 130px;
    height: 40px;
    line-height: 50px;
    font-size: 1em;
    display: inline-block;
   /* margin-right: -2px;
    margin-left: -3px;*/
}

.sort-container a {
    text-decoration: none;
    text-align: center;
    color: rgb(50, 50, 50);
    display: block;
}

.sort-workBy a:hover, #avd:hover, .sort-orderBy a:hover {
   background-color: rgb(250, 250, 250);
}

.sort-container #Teknologi:hover {
    background-color: rgb(97, 175, 202);
}

.sort-container #Ledelse:hover {
    background-color: rgb(121, 85, 128);
    color: rgb(250, 250, 250); /*Finne ein passande farge for alle underlenker?*/
}

.sort-container #Kommunikasjon:hover {
    background-color: rgb(255, 208, 102);
}

.sort-container #Kunstfag:hover {
    background-color: rgb(126, 197, 157);
}

.sort-container #FilmTVSpill:hover {
    background-color: rgb(255, 112, 97);
}

.sort-container li li {
    /*background-color: rgb(253, 253, 248);*/
    background-color: rgb(230, 230, 230);
    font-size: 1em;
}

.sort-container > ul > li {
    text-align: center;
}

.sort-container > ul > li > a {
    padding-left: 0px;
}

.sort-container li ul {
    position: absolute;
    display: none;
    width: 128px;
    left: 0px;
}

.sort-container ul > li > ul > li > ul > li{
    display: none;
}

.tek li:hover ul{
    display: block;
}

.sort-container li ul li {
    display: block;
    width: inherit;
}

.sort-container li:hover ul {
    display: block;
}

.projectBoxes {
    background-color: rgb(190, 190, 190);
    border: 1px solid black;
    height: 200px;
    width: 250px;
    z-index: 1;
    cursor: pointer;
    opacity: 0.8;
}

.aboutProjBox:hover{
    opacity: 1;
}
.projectBoxes:hover {
    opacity: 1;
}

.projectBoxes article{
    margin-top: 10px;
    opacity: 0;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
}

.likeBoxes{
    bottom: 0px;
}

#projects:hover{
    cursor: pointer;
}

#projects{
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
}

#studentProjectBoxes #projects{
    margin-left: 0;
    margin-right: 0;
}



.projectBoxes{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    
}



/** end sorting content INDEX **/


/**** END MAIN CONTENT INDEX ****/


/**** start footer ****/

#mainPageFooterWrap {
    height: 15em;
    background-color: rgb(253, 253, 248);
    clear: both;
    padding-top: 20px;
    margin: auto;
}

.imgFooter {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.footerBanner {
    display: block;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 60px;
}


/**** end footer ****/

/**** LOGIN PAGE ****/

.login {
    margin-top: 40px;
}

#loginFeide {
    height: 300px;
    border-right: 1px solid black;
}

#loginOther {
    height: 300px;
}

.textField {
    float: right;
    top: 5px;
}

.objectsInDiv {
    top: 20%;
    margin-left: auto;
    margin-right: auto;
}

#registerBtn {
    float:right;
    margin-right:5px;
}

#loginBtn,
#registerBtn {
    margin-top:40px;
    margin-left: 5px;
}


/**** end login page ****/


/*register page*/

#registration {
    width: 350px;
    position: relative;
    left: 25%;
}


/*li{
font-family: 'Open Sans Condensed', sans-serif;
}*/

#registrationPage {
    position: relative;
    width: 50%;
    left: 25%;
    margin-top: 15%;
    text-align: 
}

.registerField {
    position: relative;
    top: 5px;
    width: 343px;
    height: 30px;
}


#registrationBTN {
    width: inherit;
    text-align: center;
}

#registrationBTN:hover {
    cursor: pointer;
    background-color: rgb(120, 120, 120);
    transition: all 2s;
}

#registerh3{
    float:left;
}


/*end register page*/


/** start register successful **/

#regSuksess{
    margin-top: 150px;
}

#regSuksess p{
    text-align: center;
}

#regSuksess h3{
    text-align: center;
}


/** end register successful **/

/*student profile*/

.studentCol {
    border-right: solid black 1px;
    border-left: solid black 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 500px;
}

#profileBasicInfo {
    padding-top: 20px;
}

#profilePic {
    width: 300px;
    height: 300px;
    float: left;
}

#linksForProfile {
    list-style: none;
}

#profileText {
    position: relative;
    height: auto;
    top: 50px;
    border: 1px solid rgb(10, 10, 10);
    padding: 15px;
    font-size: 15px;
}

#AboutMe {}

#ProfileProjects {
    padding-top: 20px;
}

#ProfilePopular {}


/*end student profile*/


/***START EDIT PROFILE***/

#UpdateBTN {
    margin-top: 40px;
    background-color: rgb(253, 253, 248);
}

.chooseFile{
    float: left;
}

.uploadFile{
    margin-bottom: 20px;
}
#profileEditAboutMe{
    background-color: rgb(253, 253, 248);

}
.addProfilInput{
    width: 375px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(253, 253, 248);
    left: 0;
}
.edProfMainHeading{
    font-size: 1em;
    font-weight: 700;
}

.edProfUnderHeading{
    font-size: 1em;
    font-weight: 200;
}

/*Someone Edit This one please*/
#ProfileEditImage{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    position: absolute;
    border: 6px solid black;
}


/***END EDIT PROFILE***/


/*** START CREATE PROJECT ***/

.addProjInput{
    margin: 0;
    width: 150px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(253, 253, 248);
    left: 0;
}

#createProjectContainer {
    width: 600px;
    height: auto;
    margin-left: 50%;
    position: relative;
    display: block;
}


#mainCreateProject {
    line-height: 0;
    margin-top: 50px;
}

#mainCreateProject p {
    font-size: 1em;
    font-weight: 700;
}

.upload {
    margin: 15px;
}

#linkCreateProjectFile {
    float: right;
    margin-top: 30px;
}

#nameFileCreateProject {}

.publishBtn {
    background-color: lightblue;
    border-radius: 10px;
    height: 100px;
    width: 200px;
}

#buttonDesign {
    float: left;
    margin-left: 15px;
}

#previewCPBtn {
    float: right;
    height: 100px;
    width: 150px;
    margin-right: 15px;
}

#publish {
    margin-top: 50px;
    margin-left: 10px;
}

#uploadCPBtn {
    background-color: lightblue;
    border-radius: 10px;
    height: 100px;
    width: 200px;
    margin 15px;
}

#infotextproject {
    margin-left: 15px;
    width: 515px;
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(253, 253, 248);
    border: 1px solid black;
}

#descProjCP {
    float: left;
    position: relative;
}

#nameProjectCPTxt {
    height: 20px;
    margin-top: 5px;
    position: relative;
}

#addTeacher {
    float: left;
}

.test321 {
    float: left;
    width: 100%; /*530px;*/
    margin-top: 10px;
}

.col-floatleft {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
}

.col-floatright {
    float: right;
    margin-right: 15px;
    margin-top: 7px;
    position: relative;
}


/** ADD PROJECT **/

.updatefield {
   /*float: right;*/
}

.addprojectcontainer {
    width: 450px;
}

.addprojectcontainer p {
    margin: 15px;
    margin-top: 30px;
}

.addprojectcontainer #UpdateBTN {
    margin: 15px;
    border-radius: 5px;
    height: 75px;
    width: 200px;
    background-color: rgb(253, 253, 248);
    font-family: "Georgia",serif;
    font-size: 17px;
    float: right;
}
/*  IKKE BRUK UpdateBTN!!! bruk .buttonDesign */
#UpdateBTN:hover {
    cursor: pointer;
    color: rgb(120, 120, 120);
    transition: all 2s;
}

/*** PROJECT PAGE ***/

#projectOne{
    margin: 3%;
    width: 60%;
    padding: 10px;
}


#projectDocument{
    margin-top: 100px;
    width: auto;
}

#projectTwo {
    border-left: solid black 1px;
    padding-left: 3%;
    height: auto;
    float: right;
}

#emneProject{
    margin-bottom: 30px;
}

#studentsProject{
    margin-bottom: 30px;
}

#tutorProject{
    margin-bottom: 30px;
}

#projectDesc{
    margin-bottom: 30px;
}

#editProjectBtn{
    margin-top: 30px;
    width: inherit;
}

#imgContainer img{
    width: 300px;
    height: 300px;
}


/*Noen som vil fikse på desse 2?*/
#projectDocument h3{
    margin-top: 0;
    border-bottom: 1px solid black;
}

#projectDocument{
    border: 1px solid black;
}
/*** END PROJECT PAGE ***/


/*** EDIT PROJECT ***/
.editProjInput{
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(253, 253, 248);
}

#tilbakeTilProsjekt{
    text-align: center;
    text-decoration: none;
    color: black;
}

#youtubeLink{
    width: 267px;
}
#name{
    width: 388px;
}
#subject{
    width: 383px;
}
#addClassmate{
    width: 263px;
}
/*** END EDIT PROJECT ***/

/*h1{
    font-size: 35px;
    font-family: 'Georgia', serif;
    margin-left: 5px;
}

form{
    font-size: 20px;
    font-family: 'Georgia', serif;   
}

p{
    font-size: 30px;
    font-family: 'Georgia', serif;
}*/

/*** stilsettning for knapper og linker som brukes på flere steder **/

.buttonDesign {
    width: 200px;
    height: 50px;
    background-color: rgb(253, 253, 248);
    font-size: 17px;
    border: solid 1px;
}

.buttonDesign:hover {
    cursor: pointer;
    color: rgb(120, 120, 120);
    transition: all 2s;
}

.linkerStyle:hover{
    cursor: pointer;
    color: rgb(120, 120, 120);
    text-decoration: none;
    transition: all 2s;
}

.linkerStyle:visited{
    color: rgb(120, 120, 120);
}

.smallUploadBtn{
    background-color: rgb(253, 253, 248);
    margin-top: 8px;
    position: relative;
    border: solid 1px;
}

.smallUploadBtn:hover {
    cursor: pointer;
    color: rgb(120, 120, 120);
    transition: all 2s;
}

#studentProfil {
        display: block;
        width: auto;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
}

#profilContainer {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
}

#velkommenProfile {
    margin-left: 11%;
}

#aboutStudentH3 {
    margin: 0;
}

#studentProjectsH3 {
    margin: 0;
}

#aboutStudentP {
    margin: 0;
}

#studentProjectBoxes .projectBoxes {
    margin: 0;
    margin-bottom: 15px;
}

#sortingMenu {
    width: 100%;
    margin-left: 0;
}

#searchUsernameH3 {
    margin-top: 0;
}

#searchUserProjectsH3 {
    margin: 0;
}

#projectsProfile .projectBoxes {
    margin: 0;
    margin-bottom: 10px;
}

#ProfileBTN {
    margin-top: 10px;
    width: inherit;
}

#loginDiv {
    margin-left: 30%;
}

#addStudentInput {
    width: 310px;
}

#addTopicInput {
    width: 445px;
}

#addNameProjectInput {
    width: 365px;
}

#aboutSiteP{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    color: rgb(255, 112, 97);
    text-align: center;
    line-height: 1.2;
    font-size: 1.2em;
}

#aboutSiteP a{
    color: rgb(255, 112, 97);
}

#aboutSiteDiv {
    margin-top: 200px;
    margin-bottom: 100px;
}

#aboutSiteH3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 0;

}

#likeContainerPPage {
    float: left;

}



#deleteProjectBtn {
    margin-top: 10px;
    margin-bottom: 50px;
    width: inherit;
}
