body {
    background-color: rgb(253, 253, 248);
    font-family: "nimbus-sans", sans-serif;
}


/**** START 978 GS ****/

#container {
    width: 1008px;
    margin: auto;
}

.col {
    margin-left: 15px;
    margin-right: 15px;
}

.col-ProfileStudent {
    width: 295px;
    float: left;
}

.col-projectOne {
    width: 612px;
    float: left;
}

.col-projectTwo {
    width: 295px;
    float: left;
}

.col-12 {
    width: 978px;
}

.col-3 {
    width: 222px;
    margin-bottom: 30px;
    float: left;
}

.col-6 {
    width: 459px;
    float: left;
}


/**** END 978 GS ****/


/**** START HEADER ****/
#title{
    float: left;
    height: auto;
    width: 100px;
    font-size: 20px;
    text-decoration: line-through;
    color: rgb(80, 80, 80);
    text-shadow: 1px 1px;
}

#blackWLogo{
    height: 70px;
}

.imgLogo{
    float: right;
    margin-left: 10px;
}

#mainPageHeader {
    height: 4em;
    margin-bottom: 30px;
    margin-top: 10px;
}


/** start navigation HEADER **/

.nav ul {
    font-style: normal;
    font-weight: 500;
    list-style: none;
    background-color: rgb(253, 253, 248);
    text-align: center;
    float: left;
}

.nav li {
    font-size: 1.3em;
    line-height: 50px;
    height: 50px;
   /* margin-top: 1em;*/
    display: inline-block;
    width: 170px;
    margin-left: -2px;
    margin-right: -2px;
}

.li-border {
    border-right: 1px solid rgb(10, 10, 10);
}

.nav a {
    text-decoration: none;
    color: rgb(50, 50, 50);
    display: block;
}

.nav a:hover {
    /*background-color: #005f5f;
    color: rgb(250, 250, 250);*/
    border-bottom: 4px solid black;
    cursor: pointer;
    color: rgb(120, 120, 120);

}


#mobileNav{
    display: none;
}

/** end navigation HEADER **/


/**** END HEADER ****/


/**** START MAIN CONTENT INDEX ****/

#mainContent {
    display: block;
    float: left;
}


/** start sorting content INDEX **/

.sort-container {
    background-color: rgb(253, 253, 248);
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
}

.sortMenu {
    position: relative;
    right: 178px;
}

#searchField{
    position: relative;
    float: right;
    top: 10px;
    right: 10px;
}

.sort-container ul {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.sort-container li {
    text-align: left;
    width: 130px;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
    display: inline-block;
    margin-right: -2px;
    margin-left: -3px;
}

.sort-container a {
    text-decoration: none;
    text-align: center;
    color: rgb(50, 50, 50);
    display: block;
}

.sort-program {
    border-right: 1px solid rgb(10, 10, 10);
    border-left: 1px solid rgb(10, 10, 10);
}

.sort-container a:hover {
    /*background-color: #005f5f;
    text-decoration: underline;*/
    border-bottom: 4px solid rgb(10, 10, 10);

}

.sort-workBy a:hover, #avd:hover, .sort-orderBy a:hover {
   /* color: rgb(250, 250, 250); Change color on text in menu*/
}

.sort-container #teknologi:hover {
    background-color: rgb(97, 175, 202);
}

.sort-container #ledelse:hover {
    background-color: rgb(121, 85, 128);
    color: rgb(250, 250, 250); /*Finne ein passande farge for alle underlenker?*/
}

.sort-container #kommunikasjon:hover {
    background-color: rgb(255, 208, 102);
}

.sort-container #kunstfag:hover {
    background-color: rgb(126, 197, 157);
}

.sort-container #filmTVSpill:hover {
    background-color: rgb(255, 112, 97);
}

.sort-container li li {
    /*background-color: rgb(253, 253, 248);*/
    background-color: rgb(230, 230, 230);
    font-size: 1em;
}

.sort-container > ul > li {
    text-align: center;
}

.sort-container > ul > li > a {
    padding-left: 0px;
}

.sort-container li ul {
    position: absolute;
    display: none;
    width: 128px;
    left: 5px;
}

.sort-container li ul li {
    display: block;
    width: inherit;
}

.sort-container li:hover ul {
    display: block;
}

.projectBoxes {
    background-color: rgb(150, 150, 150);
    height: 170px;
    box-shadow: 0 4px 4px 0 rgb(80, 80, 80);
}


/** end sorting content INDEX **/


/**** END MAIN CONTENT INDEX ****/


/**** start footer ****/

#mainPageFooterWrap {
    height: 15em;
    background-color: rgb(253, 253, 248);
    clear: both;
    padding-top: 20px;
}

.imgFooter {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.footerBanner {
    display: block;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 60px;
}


/**** end footer ****/

/**** LOGIN PAGE ****/

.login {
    margin-top: 40px;
}

#loginFeide {
    height: 300px;
    border-right: 1px solid black;
}

#loginOther {
    height: 300px;
}

.textField {
    float: right;
    top: 5px;
}

.objectsInDiv {
    top: 20%;
    left: 35%;
}

#loginBtn,
#registerBtn {
    margin-left: 5px;
}


/**** end login page ****/


/*register page*/

#registration {
    width: 270px;
    text-align: right;
}


/*li{
font-family: 'Open Sans Condensed', sans-serif;
}*/

#registrationPage {
    position: absolute;
    background-color: rgb(199, 199, 199);
    width: 50%;
    left: 25%;
}

.registerField {
    position: relative;
    float: right;
    top: 5px;
}

#registrationBTN {
    width: 130px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    background-color: rgb(152, 152, 152);
}

#registrationBTN:hover {
    cursor: pointer;
    background-color: rgb(120, 120, 120);
    transition: all 2s;
}


/*end register page*/


/*student profile*/

.studentCol {
    border-right: solid black 1px;
    border-left: solid black 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 500px;
}

#profileBasicInfo {
    padding-top: 20px;
}

#profilePic {
    width: 200px;
    float: left;
}

#linksForProfile {
    list-style: none;
}

#profileText {
    position: relative;
    height: auto;
    top: 50px;
    border: 1px solid rgb(10, 10, 10);
    padding: 15px;
    font-size: 15px;
}

#AboutMe {}

#ProfileProjects {
    padding-top: 20px;
}

#ProfilePopular {}


/*end student profile*/


/***START EDIT PROFILE***/

#UpdateBTN {
    margin-top: 40px;
    background-color: rgb(253, 253, 248);

}

/***END EDIT PROFILE***/


/*** START CREATE PROJECT ***/

#createProjectContainer {
    width: 530px;
    height: 900px;
    left: 40px;
    position: relative;
}


#mainCreateProject {
    line-height: 0;
    margin-top: 50px;
}

#mainCreateProject p {
    font-size: 1em;
    font-weight: 700;
}

.upload {
    margin: 15px;
}

#linkCreateProjectFile {
    float: right;
    margin-top: 30px;
}

#nameFileCreateProject {}

.publishBtn {
    background-color: lightblue;
    border-radius: 10px;
    height: 100px;
    width: 200px;
}

#buttonDesign {
    float: left;
    margin-left: 15px;
}

#previewCPBtn {
    float: right;
    height: 100px;
    width: 150px;
    margin-right: 15px;
}

#publish {
    margin-top: 50px;
}

#uploadCPBtn {
    background-color: lightblue;
    border-radius: 10px;
    height: 100px;
    width: 200px;
    margin 15px;
}

#infotextproject {
    margin-left: 15px;
    width: 510px;
    height: 136px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#descProjCP {
    float: left;
    position: relative;
}

#nameProjectCPTxt {
    height: 20px;
    margin-top: 5px;
    position: relative;
}

#addTeacher {
    float: left;
}

.test321 {
    float: left;
    width: 100%; /*530px;*/
    margin-top: 10px;
}

.col-floatleft {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
}

.col-floatright {
    float: right;
    margin-right: 15px;
    margin-top: 7px;
    position: relative;
}


/** ADD PROJECT **/

.updatefield {
    float: right;
}

.addprojectcontainer {
    width: 450px;
    margin-left:"";
}

.addprojectcontainer p {
    margin: 15px;
    margin-top: 30px;
}

.addprojectcontainer #UpdateBTN {
    margin: 15px;
    border-radius: 5px;
    height: 75px;
    width: 200px;
    background-color: rgb(253, 253, 248);
    font-family: "Georgia",serif;
    font-size: 17px;
    float: right;
}
/*  IKKE BRUK UpdateBTN!!! bruk .buttonDesign */
#UpdateBTN:hover {
    cursor: pointer;
    color: rgb(120, 120, 120);
    transition: all 2s;
}

/*** PROJECT PAGE ***/

#projectTwo {
    border-left: solid black 1px;
    padding-left: 10px;
    height: 300px;
}



/*h1{
    font-size: 35px;
    font-family: 'Georgia', serif;
    margin-left: 5px;
}

form{
    font-size: 20px;
    font-family: 'Georgia', serif;   
}

p{
    font-size: 30px;
    font-family: 'Georgia', serif;
}*/

/*** stilsettning for knapper og linker som brukes på flere steder **/

.buttonDesign {
    width: 200px;
    height: 50px;
    background-color: rgb(253, 253, 248);
    font-size: 17px;
    font-family: 'Georgia', serif;
    border: solid 1px;
}

.buttonDesign:hover {
    cursor: pointer;
    color: rgb(120, 120, 120);
    transition: all 2s;
}

.linkerStyle:hover{
    cursor: pointer;
    color: rgb(120, 120, 120);
    text-decoration: none;
    transition: all 2s;
}

.linkerStyle:visited{
    color: rgb(120, 120, 120);
}

.smallUploadBtn{
    background-color: rgb(253, 253, 248);
    margin-top: 8px;
    position: relative;
    border: solid 1px;
}

.smallUploadBtn:hover {
    cursor: pointer;
    color: rgb(120, 120, 120);
    transition: all 2s;
}


