@media screen and (max-width: 800px){
    
    /** FELLES **/
    
	#container{
		width: auto;
        margin: 0;
	}

	.col{
		width: auto;
		height: auto;
		float: none;
        margin: 0;
	}
    
    .clearfix{
        overflow: auto;
    }
    
    /** HEADER **/
    
    #headerMenu ul{
        background-color: rgb(253, 253, 248);
        text-decoration-color: black;
    }
        
    .nav{
        display: block;
        width: 100%;
        height: auto;
        font-size: 0.5em;
        text-align: center;
        margin: 0;
        
    }
    
    .nav ul{
        padding: 0;
        width: 100%;
    }
    
    .navHoverEffect:hover{
        border: 1px solid rgb(253, 253, 248);
    }
    
    .nav li{
        width: 100%;
    }
    
    .nav a:hover{
        color: rgb(000, 000, 000);
    }
    
    .li-border{
        border: 1px solid black;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }
    
    header{
        margin-right: auto;
        margin-left: auto;
    }
    
    .li-border li{
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .imgLogo img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    #mainPageHeader{
        width: 100%;
        height: 100%;
        float: left;
        margin-bottom: 50px;

    }
    
    #title{
        float: none;
        margin-bottom: 20px;
    }
    
    #title h2{
        font-size: 5em;
        line-height: 0;
        color: black;
        text-decoration: none;
    }
    
    #seProsjekter{
        margin-top: 20px;
    }
    
    #mainPageHeader a{
        text-align: center;
        display: block;
        width: auto;
        margin-left: 0;
        margin-right: 0;
        color: black;
        margin-top: 5px;
    }
    
    .nav li{
        font-size: 4em;
    }
    
    #mainPageHeader img{
        position: absolute;
        display: none;
        width: 20%;
        height: 20%;
        margin-left: auto;
        margin-right: auto;
    }
    
    /** INDEX **/
    
    #aboutSiteP{
        width: auto;
        font-size: 1em;
    }
    
    #aboutSiteDiv{
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    /** FOOTER **/
    
    #footer{
        width: auto;
        height: auto;
    }
    
    .imgMobile{
        width: 100%;
    }
    
    /** INDEX **/
    
    #mainContent{
        width: 100%;
        background-color: black;
        height: auto;
    }
    
    /**  NAVIGERINGSMENY  **/
    
    .sort-container li{
        width: 100px;
        border: none;
        font-size: 0.8em;
        right: 0;
    }
    
    #sortingMenu{
        top: 250%;
        width: 100%;
    }
    
    #sortingMenu{
        height: 100%;
    }
    
    .sort-container ul{
        background-color: none;
        width: 100%;
    }
    
    .sort-container{
        background-color: none;
        top: 100%;
    }
    
    .sort-container a{
        background-color: none;
    }
    
    .projectBoxes{
        
    }
    
    .sortMenu{
        position: none;
    }
    
    
    /** STUDENT PROFILE **/
    
    .studentCol{
        border-right: none;
        border-left: none;
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        width: auto;
    }
    
    #searchProfile{
        float: none;
        height: auto;
        position: relative;
        top: 0px;
    }
    
    #soekResultat{
        width: auto;
    }
    
    #studentProfil{
        display: block;
        width: auto;
        height: 100%;
    }
    
    #profileEditAboutMe{
        width: auto;
        background-color: rgb(253, 253, 248);
    }
    
    #youTubeVideo{
        width: auto;
    }
    
    #searchProfile{
        padding-top: 40px;
    }
    
    #aboutStudent{
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    #studentProjectBoxes #projects{
        padding-top: 10px;
    }
    
    /** ALL PROJECTS **/
    
    div #projects{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    #projects{
        padding-top: 30px;
        display: block;
        width: auto;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        box-shadow: none;
        background-color: rgb(253, 253, 248);
    }
    
    #projects .projectBoxes{
        padding-top: 10px;
        margin-left: 0;
        margin-right: 0;
        box-shadow: none;
        width: auto;
        height: 300px;
        margin-bottom: 20px;
    }
    
    #projects .likeBoxes{
        bottom: 0px;
    }
    
    /** ADD PROJECT **/
    
    #addProjectContainer p{
        margin-top: 0;
    }
    
    .col-floatleft{
        float: none;
        margin-top: 0;
    }
    
    #publish{
        margin-top: 15px;
        margin-left: 15px;
    }
    
    #addProject{
        padding-top: 40px;
    }
    
    #createProjectContainer{
        width: auto;
        left: 0;
        line-height: 0px;
    }
    
    #mainCreateProject{
        width: auto;
        margin: 0;
    }
    
    #infotextproject{
        width: 300px;
        
    }
    
    .test321{
        width: auto;
        margin-top: 0;
    }
    
    /** PROJECT PAGE **/
    
    #editProjectBtn{
    
    }
    
    #projectDesc{
        padding-bottom: 20px;
    }
    
    #projectPage{
        padding-top: 50px;
    }
    
    #projectTwo{
        border-left: 0;
    }
    
    #projectOne{
        margin-left: 5%;
    }
    
    #prosjektTittel{
        text-align: left;
        font-size: 2em;
    }
    
    #projectOne{
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }
    
    #youTubeVideo{
        width: 100%;
    }
    
    /** UPDATE PROFILE **/
    
    .marginMobile{
        margin-top: 10px;
        margin-bottom: 0;
    }
    
    #profileEditAboutMe{
        width: 100%;
    }
    
    
    /** LOGIN **/
    
    #loginFeide h1{
        font-size: 2em;
    }
    
    #loginBtn{
        width: 120px;
    }
    
    #registerBtn{
        width: 120px;
    }
    
        
    #loginDiv{
        margin-left: 5%;
        margin-right: 5%;
    }
}
