        body
		{
			margin: 0;
			background-color: #FDFDF8;
			color: #FF7061;
			font-family: 'Lato', sans-serif;
		}

		header {
			height: 270px;
			width: 100%;
			background-color: #ff6677;
		}

		#logo {
			padding-top: 20px;
			width: 200px;
			margin: auto;
			display: block;
		}

		.romNr {
			font-size: 25px !important;
			display: inline;
			color: #666;
		}


		#booking-list
		{
			padding: 0px 10px;
			font-size: 16px;
		}
		#booking-list > h1
		{
			text-align: center;
		}
		#booking-header
		{
			margin-bottom:5px;
			font-weight: bold;
			background-color: #1EB6EC;
			color: #fff;
		}
		#booking-header, .booking-list-element
		{
			position: relative;
			border: 1px solid #CCCCCC;
			overflow: auto;
			
		}
		.booking-list-element
		{
			border-bottom: 0;
			font-weight: bold;
		}
		.booking-list-element:last-child
		{
			border-bottom: 1px solid #CCC;
		}
		#booking-header > div, 
		.booking-list-element-column
		{
			box-sizing: border-box;
		}
		#booking-header > div, 
		.booking-list-element-column
		{
			float: left;
			width: 25%;
			text-align: center;
			padding: 10px 0px;
			border-right: 1px solid #CCCCCC;
		}
		.booking-list-element-column:last-child
		{
			border-right: 0;
			padding: 0;
		}
		.book-submit
		{
			background-color: #1EB6EC;
			border: 0;
			color: white;
			font-weight: bold;
			padding: 5px;
			margin: 6px;

			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;

			box-shadow: 0px 2px 0px #0F5B76;
			-moz-box-shadow: 0px 2px 0px #0F5B76;
			-webkit-box-shadow: 0px 2px 0px #0F5B76;
		}
		.book-submit:hover
		{
			position: relative;
			top: 1px;
			box-shadow: 0px 1px 0px #0F5B76;
			-moz-box-shadow: 0px 1px 0px #0F5B76;
			-webkit-box-shadow: 0px 1px 0px #0F5B76;
			cursor: pointer;
		}
		.book-submit:active
		{
			position: relative;
			top: 2px;
			box-shadow: 0px 0px 0px #0F5B76;
			-moz-box-shadow: 0px 0px 0px #0F5B76;
			-webkit-box-shadow: 0px 0px 0px #0F5B76;
			cursor: pointer;
		}

		footer {
			width: 100%;
			height: 150px;
		}

		#krusse {
			width: 80%;
			margin: auto;
			height: 100px;
			background-image: url('../img/krus.png');
			background-size: 3%;
			background-repeat: repeat-x;
		}

		#lfooter {
			width: 100px;
			margin: auto;
			display: block;
		}

		@media (min-width: 320px)
		{
			.book-submit
			{
				padding: 5px 20%;
			}
		}
		@media (min-width: 400px)
		{
			#booking-header > div, 
			.booking-list-element-column
			{
				padding: 15px 0px;
				font-size: 18px;
			}
			.book-submit
			{
				padding: 8px 20%;
				font-size: 14px;
			}
		}
		@media (min-width: 960px)
		{
			#booking-list
			{
			width: 940px;
			margin: 0 auto;
			}
		}
        
    /*Front*/
        #AutWrapper
        {
            background-color: 
            width: 95%;
            height: 400px;
            margin: 0 auto;
            text-align:center
        }
        #Epost
        {
            margin: 0 auto;
        }